div.side
	img(ng-src='images/{{character.img}}')
div.side.details
	p <strong>Name:</strong> {{character.name}}
	p <strong>House:</strong> {{character.house}}
	p <strong>Actor:</strong> {{character.actor}}
	p <strong>Quote:</strong> {{character.quote}}
	p <strong>Episodes:</strong> {{character.episodes}}
