/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
*{font-family: georgia, arial;-webkit-font-smoothing: antialiased !important;}
.side-nav{float:left; }
.side-nav ul{list-style-type:none;padding-left:0;}
.side-full{float:left;margin-left:30px;}
img{max-width:400px;}
.side{float:left;}
.details{width:200px;line-height:14px;margin-left:20px;}